<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Author - Dr. Seuss</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body id="about">
    <header>
        <h1>About the Author - Dr Seuss</h1>
        
    </header>
    <main>
        <section>
            <h2>The Life of Dr. Seuss</h2>
            <p>
                Dr. Seuss, whose real name was Theodor Seuss Geisel, was an American author, cartoonist, and animator.
                He was born on March 2, 1904, in Springfield, Massachusetts. Dr. Seuss is best known for his imaginative
                and whimsical stories, captivating both children and adults alike.

            </p>
            <p>
                Throughout his career, Dr. Seuss wrote and illustrated numerous classic books, including "The Cat in the
                Hat," "Green Eggs and Ham," "Horton Hears a Who!," and many more. His works continue to inspire generations
                and promote values of creativity, acceptance, and kindness.

            </p>
            <img src="/images/drSeuss.webp" alt="" class="drSeuss">
        </section>

    </main>
    <footer>
        <a class="aAbout" href="/works">Go to works page</a>
    </footer>
    
</body>
</html>