<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Dr. Seuss World</h1>
        
    </header>
    <main >
        <p> Welcome to our website dedicated to the wonderful world of Dr. Seuss, the beloved author and illustrator
            known for his imaginative and timeless stories. Explore the life of Dr. Seuss and discover his captivating
            works that have touched the hearts of readers of all ages.</p>
        
        <img src="/images/aboutSeuss.jpeg" alt="" class="charSeuss">

        
        
    </main>
    <footer>
        <a href="/about">Go to about page</a>
    </footer>
    
</body>
</html>